@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

/* Header Start */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
    align-items: center;
    position: static;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
}

.page-logo a {
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(27, 204, 195);
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

header ul a {
    text-decoration: none;
    margin: 20px;
    padding: 10px 10px;
    color: aqua;
    text-shadow: 1px 1px 2px black;
}

header ul a:hover {
    background-color: aqua;
    color: black;
    border-radius: 15px;
}

main ul{
    max-width: 1200px;
    margin-left: 35px;
    padding: 0 0 0 20pz;
    overflow: hidden;
   
    }

main ul li{
    display: flex;
    list-style: none;
    background-color: aliceblue;
    border-radius: 10px;
    margin:20px;
}

ul img{
    width: 300px;
    height: 300px;
    padding:20px;
}
